.header {
  background: var(--white);
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.header-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--primary-color);
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
}
